* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Ubuntu", sans-serif;
  background-color: #353843;
  color: white;
}

header {
  background-color: #121216;
  padding: 20px 30px;
}

.content-wrapper {
  max-width: 964px;
  margin: 0 auto;
}

.logo-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  font-family: "Caveat", sans-serif;
}

.search-bar {
  position: relative;
  width: 400px;
  background-color: #1f1f27;
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  color: #8d8ba5;
  font-size: 16px;
}

.search-icon {
  color: #8d8ba5;
}

.categories {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.category {
  padding: 10px 18px;
  background-color: #2b2d36;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.category.active {
  background-color: #d5ef9a;
  color: #1f1f27;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.product {
  background-color: #2b2d36;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
  flex: 1 1 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
}

.product:hover {
  transform: scale(1.05);
}

.product-image-wrapper img {
  width: 100%;
  height: auto;
}

.product-data {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
}

.product-description {
  margin: 10px 0;
  font-size: 14px;
  color: #8d8ba5;
}

.product-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price {
  font-size: 18px;
}

.buy-btn {
  padding: 10px 15px;
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buy-btn:hover {
  background-color: #e74c3c;
}
</style>
